RewriteEngine On
RewriteBase /public/

# Allow requests to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all other requests to index.php
RewriteRule ^(.*)$ index.php [L]
